.main{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.profile{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    height: fit-content;
    justify-content: space-evenly;
    width: fit-content;
    padding: 20px 20px 20px 20px;
}

.profile p{
    width: 100%;
    margin: 10px 0px;
    padding: 5px;
    text-align: center;
}

.profile img{
    width: 100%;
}

.bookings{
    flex: 4;
    border-radius: 3px;
    box-shadow: inset 0px 1px 3px;
    padding: 20px 20px 20px 20px;
}

.button{
    border: none;
    background-color: #9965ec;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 3px;
    padding: 6px 8px;
    box-shadow:  0px 1px 3px #6930c3;
}

.button:hover{
    box-shadow: inset  0px 1px 3px #6930c3;
}

.activeBooking{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: inset 0px 1px 3px #6930c3;
    padding: 8px;
    margin-bottom: 10px;
}

.activeBooking p{
    margin: 5px;
}

.donebutton{
    width: fit-content;
    border: none;
    color: #9965ec;
    font-size: 20px;
    text-align: center;
    border-radius: 3px;
    padding: 6px 6px;
    padding-bottom: 2px;
    box-shadow:  0px 1px 3px #6930c3;
}

.donebutton:hover{
    box-shadow: inset  0px 1px 3px #6930c3;
}