.formMain{
    background-color: #9965ec;
    padding: 30px 40px;
    padding-top: 5px;
    width: 40vmax;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 3px;
    box-shadow:  0px 0px 8px;
}

.formHeading{
    color: #fff;
    border: 0px;
}
.formFields{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #6930c3;
    background-color: #ac7afd;
    border-color: #6930c3;
    border-width: 0px;
    border-radius: 3px;
}

.formFields:focus{
   outline: none;
   box-shadow: inset  0px 1px 2px #52249c;
}

.formFields::placeholder{
    color: #fff;
}

.button{
    border: none;
    color: #9965ec;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    padding: 6px 8px;
    box-shadow:  0px 1px 2px #6930c3;
}

.button:hover{
    box-shadow: inset  0px 1px 2px #6930c3;
}